# ==============================
# 🔐 ENV (NUNCA subir)
# ==============================
.env

# ==============================
# 📦 Dependências
# ==============================
node_modules/

# ==============================
# 🧱 Build
# ==============================
dist/
build/
.next/
out/

# ==============================
# 🧠 Logs
# ==============================
*.log
logs/

# ==============================
# 🗄️ Banco local
# ==============================
*.db
*.db-journal

# ==============================
# 🧬 Prisma
# ==============================
.prisma/
prisma/dev.db

# ==============================
# 🖥️ Sistema operacional
# ==============================
.DS_Store
Thumbs.db

# ==============================
# 🔧 IDE
# ==============================
.vscode/
.idea/